FLASK_ENV=development
API_TOKEN=super_secret_token_123
FIREBASE_CREDENTIALS_PATH=./serviceAccount.json
FIREBASE_STORAGE_BUCKET=coach-de-cultivo.appspot.com
GEMINI_API_KEY=sua_chave_aqui
GEMINI_MODEL_TEXT=gemini-2.0-flash-exp
GEMINI_MODEL_VISION=gemini-2.0-flash-exp
CORS_ORIGINS=*
